<!DOCTYPE html>
<html>
<head>
    <title>UTA - Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}"/>
</head>
<body>

<div class="container-fluid text-center top-container">
    <h2>POC Application: Course Registration</h2>
</div>
<div class="container">
    {% include "includes/nav.html" %}

    {% block content %}
    {% endblock %}
    
</div>
    {% include "includes/footer.html" %}
</body>
</html>